/* styles.css */
body {
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}
